body { /*Setting the body font and size.*/
  padding-top: 50px;
  color: #253D5B;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 22px;
}

.navbar{
  /* background-color: #35A793; */
  background-color: #6e8fc5;
  /* background-color: #319886; */
  /* border-bottom: 3px solid #35A793; */
  /* border: 3px solid #35A793; */
}

/*Setting colour of profile icon*/
.icon {
    color: #253D5B;

}

/*Editing the chart container to add border*/
.chartContainer {
    border: 3px solid #6e8fc5;
    box-sizing: border-box;
}

/*Setting colour of breakdown section*/
/* .breakdown{
  color: #253D5B;
  background-color: #A7C6E4;
} */

.breakdownContainer{
  color: #253D5B;
  background-color: #A7C6E4;
  font-size: 18px;
}

h{
  font-size: 22px;
}

/*Setting the boarder colour for the table*/
table.table-bordered > thead > tr > th{
    border:3px solid #6e8fc5;
}
table.table-bordered > tbody > tr > td{
    border:3px solid #6e8fc5;
}

.table{
  font-size: 18px;
}

/*Setting the button colours*/
.button{
  color: #253D5B;
  background-color: #A7C6E4;
}

.nav-tabs .nav-item{
  color: #253D5B;
  background-color: #fff;
  border: 4px solid #6e8fc5;
  border-width: 3px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  font-weight: bold;
  border-bottom-color: #fff;
}

/*Setting the button colours*/
.button1{
  color: #253D5B;
  background-color: #ffffff;
  border-bottom-color: #6e8fc5;
  border-right-color: #6e8fc5;
  border-width: 3px;
}


/*Setting the button dropdown colours*/
.buttonDR{
  color: #253D5B;
  background-color: #ffffff;
  border-color: #6e8fc5;
  border-width: 3px;
}

/*Setting the footer conditions*/
footer{
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #35A793;
  color: #ffffff;
  font-size: 16px;
}


/***PROFILE PAGE***/

/*Setting up header font*/
.header{
font-size: 28px;
}

/*Setting up colour of profile boxes*/
.profile{
 color: #253D5B;
 background-color: #A7C6E4;

}
.test{
  color: #253D5B;
  border-color: #A7C6E4;
  border-width: 1px;
}

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #6e8fc5;
    background-color: #6e8fc5;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

#left-bp { display: none; }
#right-bp { display: none; }
