<section class="filler container-fluid ">
    <div class="row ">
        <div class="col-md-6 mt-5 d-flex align-self-stretch">

            <!-- Setting up chart-->
            <div class="chartContainer w-100">
                <div class="row" role="tablist">
                </div>
                <i class=" col text-right fas fa-plus mt-1 pt-1 pb-1" data-toggle="modal" data-target="#AddBPStats"></i>
                <!-- Setting up add modal -->
                <canvas id="bloodPressureChart"> </canvas>
            </div>
        </div>

        <!-- Setting up breakdown -->
        <div class="breakdown col-md-6 mt-5 d-flex align-self-stretch">
            <div class="breakdownContainer pt-2 pl-2 pb-2">
                <h class="DB font-weight-bold "> Daily Breakdown: </h>
                <p class="DB font-weight-bold"> <span class="dateVal"> --/--/-- </span> </p>
                <p> <i class="fas fa-coffee pr-2"></i>Breakfast Reading - <span class="breakfastVal">--</span> mmol/L
                </p>
                <p> <i class="fas fa-hamburger pr-2"></i>Lunch Reading - <span class="lunchVal">--</span> mmol/L </p>
                <p> <i class="fas fa-pizza-slice pr-2"></i>Dinner Reading - <span class="dinnerVal">--</span> mmol/L
                </p>
                <p> <i class="fas fa-moon pr-2"></i>Evening Reading - <span class="eveningVal">--</span> mmol/L </p>
                <p> <span class="notesVal">--</span> </p>
                <div class="row symbols pt-5">
                    <i class="col text-left fas fa-chevron-left pb-1 d-inline-block" id="cycleBreakDownLeft"></i>
                    <i class="col text-right fas fa-chevron-right pb-1 d-inline-block mr-2" id=cycleBreakDownRight></i>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Add Modal -->
<div class="modal fade" id="AddBPStats" tabindex="-1" role="dialog" aria-labelledby="Addlabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class=" col-12 modal-title text-center" id="Addlabel">Daily Log
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <form action='/AddBPStats' method='POST'>

                        <div class="form-group ">
                            <input id="date" class="test form-control" name="date" type="text" placeholder="MM/DD/YYY"
                                required />
                        </div>
                        <div class="form-group ">
                            <input id="breakfast" class="test form-control" name="breakfast" type="number" step="any"
                                placeholder="Breakfast Figures" required />
                        </div>
                        <div class="form-group ">
                            <input id="lunch" class="test form-control" name="lunch" type="number"
                                placeholder="Lunch Figures" step="any" required />
                        </div>
                        <div class="form-group ">
                            <input id="dinner" class="test form-control" name="dinner" type="number"
                                placeholder="Dinner Figures" step="any" required />
                        </div>
                        <div class="form-group ">
                            <input id="night" class="test form-control" name="night" type="number"
                                placeholder="Night Figures" step="any" required />
                        </div>
                        <div class="form-group ">
                            <input id="notes" class="test form-control" name="notes" type="text" placeholder="Notes"
                                required />
                        </div>
                        <div class="modalbutton mb-3 text-center">
                            <button type="submit" class="Addbutton btn btn-default col-5 " name="action">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        //Variables for Charts
        var date = document.querySelector('.dateVal');
        var breakfast = document.querySelector('.breakfastVal');
        var lunch = document.querySelector('.lunchVal');
        var dinner = document.querySelector('.dinnerVal');
        var evening = document.querySelector('.eveningVal');
        var notes = document.querySelector('.notesVal');
        var lowest = document.querySelector('#lowest');
        var highest = document.querySelector('#highest');
        var average = document.querySelector('#average');

        var leftCycle = document.querySelector('#cycleBreakDownLeft');
        var rightCycle = document.querySelector('#cycleBreakDownRight');

        fetch('/BPStats/<%= userID %>')
            .then(
                function (response) {
                    response.json().then(function (data) {
                        console.log(data);
                        var cycleCount = 0;
                        var breakfastVal = data[cycleCount].breakfast;
                        var lunchVal = data[cycleCount].lunch;
                        var dinnerVal = data[cycleCount].dinner;
                        var eveningVal = data[cycleCount].night;
                        var notesVal = data[cycleCount].notes;
                        var dateVal = data[cycleCount].date;

                        breakfast.innerHTML = breakfastVal;
                        lunch.innerHTML = lunchVal;
                        dinner.innerHTML = dinnerVal;
                        evening.innerHTML = eveningVal;
                        notes.innerHTML = notesVal;
                        date.innerHTML = dateVal;

                        leftCycle.addEventListener('click', () => {
                            if (cycleCount > 0) {
                                cycleCount--;
                                breakfastVal = data[cycleCount].breakfast;
                                lunchVal = data[cycleCount].lunch;
                                dinnerVal = data[cycleCount].dinner;
                                eveningVal = data[cycleCount].night;
                                notesVal = data[cycleCount].notes;
                                dateVal = data[cycleCount].date;

                                breakfast.innerHTML = breakfastVal;
                                lunch.innerHTML = lunchVal;
                                dinner.innerHTML = dinnerVal;
                                evening.innerHTML = eveningVal;
                                notes.innerHTML = notesVal;
                                date.innerHTML = dateVal;
                            } else {
                                return;
                            }
                        })


                        rightCycle.addEventListener('click', () => {
                            if (cycleCount => 0 && cycleCount < data.length()) {
                                cycleCount++;
                                breakfastVal = data[cycleCount].breakfast;
                                lunchVal = data[cycleCount].lunch;
                                dinnerVal = data[cycleCount].dinner;
                                eveningVal = data[cycleCount].night;
                                notesVal = data[cycleCount].notes;
                                dateVal = data[cycleCount].date;

                                breakfast.innerHTML = breakfastVal;
                                lunch.innerHTML = lunchVal;
                                dinner.innerHTML = dinnerVal;
                                evening.innerHTML = eveningVal;
                                notes.innerHTML = notesVal;
                                date.innerHTML = dateVal;
                            } else {
                                return;
                            }
                        })

                        var valueArray = [breakfastVal, lunchVal, dinnerVal, eveningVal];
                        var totalValueArray = valueArray.reduce((previous, current) => current += previous);
                        const minValue = Math.min(...valueArray);
                        lowest.innerHTML = minValue;
                        const maxValue = Math.max(...valueArray);
                        highest.innerHTML = maxValue;
                        average.innerHTML = totalValueArray / valueArray.length;
                        var chart_labels = [];
                        var sugar_dataset = [];
                        data.forEach(entry => {
                            chart_labels.push([entry.date]);
                            sugar_dataset.push([(
                                (entry.breakfast + entry.lunch + entry.dinner + entry.night) / 4
                            )]);
                        })
                        var diastolic_dataset = [120, 115, 112, 100, 113,];
                        var systolic_dataset = [85, 87, 90, 75, 77,];
                        var pointBackgroundColors = [];
                        var bloodPressureCTX = document.getElementById('bloodPressureChart');

                        //Setting up BS current week chart
                        var bloodPressureConfig = {
                            type: 'line',
                            data: {
                                labels: chart_labels, //Setting labels for xAxes
                                datasets: [{
                                    label: 'Blood Pressure',
                                    lineTension: 0,
                                    fill: false,
                                    borderColor: 'rgb(110, 143, 197)', //Setting border colour for graph
                                    data: diastolic_dataset,
                                }, {
                                    lineTension: 0,
                                    fill: false,
                                    borderColor: 'rgb(110, 143, 197)', //Setting border colour for graph
                                    data: systolic_dataset,
                                }]
                            },
                            options: {
                                legend: {
                                    display: false
                                },
                                scales: {
                                    yAxes: [{
                                        gridLines: {
                                            display: false,
                                            color: 'rgb(110, 143, 197)'
                                        },
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Blood Pressure (mmHg)' //Adding label for yAxes
                                        },
                                    }],
                                    xAxes: [{
                                        gridLines: {
                                            display: false,
                                            color: 'rgb(110, 143, 197)'
                                        },
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Date' //Setting label for xAxes
                                        }
                                    }]
                                }
                            }
                        };
                        var myChart_chart = new Chart(bloodPressureCTX, bloodPressureConfig);

                        //If statement for the point colour
                        for (i = 0; i < myChart_chart.data.datasets[0].data.length; i++) {
                            if (myChart_chart.data.datasets[0].data[i] < 4) {
                                pointBackgroundColors.push("#E62828");
                            } else if (myChart_chart.data.datasets[0].data[i] > 8) {
                                pointBackgroundColors.push("#3535AE");
                            } else {
                                pointBackgroundColors.push("#32B928");
                            }
                        }
                        myChart_chart.update();

                        //Setting up last week BS chart - AWAITING FUTURE DEVELOPMENT
                        // $("#left-bs").click(function () {
                        //   var chart_labels = ['3/3', '4/3', '5/3', '6/3', '7/3', '8/3', '9/3'];
                        //   var sugar_dataset = [10, 3, 17, 11, 13, 5, 7];
                        //   var data = myChart_chart.config.data;
                        //   data.datasets[0].data = sugar_dataset;
                        //   data.labels = chart_labels;
                        //   myChart_chart.update();
                        //   document.getElementById('lowest').firstChild.data = '4.3';
                        //   document.getElementById('highest').firstChild.data = '17.6';
                        //   document.getElementById('average').firstChild.data = '8.1';
                        //   document.getElementById('left-bs').style.display = "inline-block";
                        //   document.getElementById('right-bs').style.display = "inline-block";
                        //   document.getElementById('left-bp').style.display = "none";
                        //   document.getElementById('right-bp').style.display = "none";
                        // });

                        // Setting up BP current week chart - AWAITING FUTURE DEVELOPMENT
                        // $("#bp, #right-bp").click(function () {
                        //   var config = {
                        //     type: 'line',
                        //     data: {
                        //       labels: chart_labels, //Setting labels for xAxes
                        //       datasets: [{
                        //         label: 'Blood Pressure',
                        //         lineTension: 0,
                        //         fill: false,
                        //         borderColor: 'rgb(110, 143, 197)', //Setting border colour for graph
                        //         data: diastolic_dataset,
                        //       }, {
                        //         lineTension: 0,
                        //         fill: false,
                        //         borderColor: 'rgb(110, 143, 197)', //Setting border colour for graph
                        //         data: systolic_dataset,
                        //       }]
                        //     },
                        //     options: {
                        //       legend: {
                        //         display: false
                        //       },
                        //       scales: {
                        //         yAxes: [{
                        //           gridLines: {
                        //             display: false,
                        //             color: 'rgb(110, 143, 197)'
                        //           },
                        //           scaleLabel: {
                        //             display: true,
                        //             labelString: 'Blood Pressure (mmHg)' //Adding label for yAxes
                        //           },
                        //         }],
                        //         xAxes: [{
                        //           gridLines: {
                        //             display: false,
                        //             color: 'rgb(110, 143, 197)'
                        //           },
                        //           scaleLabel: {
                        //             display: true,
                        //             labelString: 'Date' //Setting label for xAxes
                        //           }
                        //         }]
                        //       }
                        //     }
                        //   };
                        //   var myChart_chart = new Chart(ctx, config);
                        //   var data = myChart_chart.config.data;
                        //   data.datasets[0].data = diastolic_dataset;
                        //   data.datasets[1].data = systolic_dataset;
                        //   data.labels = chart_labels;
                        //   myChart_chart.update();
                        //   document.getElementById('lowest').firstChild.data = '70 106';
                        //   document.getElementById('highest').firstChild.data = '80 120';
                        //   document.getElementById('average').firstChild.data = '75 112';
                        //   document.getElementById('left-bs').style.display = "none";
                        //   document.getElementById('right-bs').style.display = "none";
                        //   document.getElementById('left-bp').style.display = "inline-block";
                        //   document.getElementById('right-bp').style.display = "inline-block";
                        // });
                        //
                        // Setting up BP current last week chart - AWAITING FUTURE DEVELOPMENT
                        // $("#left-bp").click(function () {
                        //   var config = {
                        //     type: 'line',
                        //     data: {
                        //       labels: chart_labels, //Setting labels for xAxes
                        //       datasets: [{
                        //         label: 'Blood Pressure',
                        //         lineTension: 0,
                        //         fill: false,
                        //         borderColor: 'rgb(110, 143, 197)', //Setting border colour for graph
                        //         data: diastolic_dataset,
                        //       }, {
                        //         lineTension: 0,
                        //         fill: false,
                        //         borderColor: 'rgb(110, 143, 197)', //Setting border colour for graph
                        //         data: systolic_dataset,
                        //       }]
                        //     },
                        //     options: {
                        //       legend: {
                        //         display: false
                        //       },
                        //       scales: {
                        //         yAxes: [{
                        //           gridLines: {
                        //             display: false,
                        //             color: 'rgb(110, 143, 197)'
                        //           },
                        //           scaleLabel: {
                        //             display: true,
                        //             labelString: 'Blood Pressure (mmHg)' //Adding label for yAxes
                        //           },
                        //         }],
                        //         xAxes: [{
                        //           gridLines: {
                        //             display: false,
                        //             color: 'rgb(110, 143, 197)'
                        //           },
                        //           scaleLabel: {
                        //             display: true,
                        //             labelString: 'Date' //Setting label for xAxes
                        //           }
                        //         }]
                        //       }
                        //     }
                        //   };
                        //   var myChart_chart = new Chart(ctx, config);
                        //   var data = myChart_chart.config.data;
                        //   var diastolic_dataset = [115, 110, 112, 100, 105, 115, 120];
                        //   var systolic_dataset = [90, 82, 93, 70, 62, 81, 75];
                        //   data.datasets[0].data = diastolic_dataset;
                        //   data.datasets[1].data = systolic_dataset;
                        //   data.labels = chart_labels;
                        //   myChart_chart.update();
                        //   document.getElementById('lowest').firstChild.data = '80 110';
                        //   document.getElementById('highest').firstChild.data = '92 115';
                        //   document.getElementById('average').firstChild.data = '79 100';
                        //   document.getElementById('left-bs').style.display = "none";
                        //   document.getElementById('right-bs').style.display = "none";
                        //   document.getElementById('left-bp').style.display = "inline-block";
                        //   document.getElementById('right-bp').style.display = "inline-block";
                        // });

                        Chart.defaults.global.defaultFontColor = '#253D5B'; //Setting the font colour of graph
                    });
                })

            .catch(function (err) {
                console.log('Fetch Error :-S', err);
            });

    });
</script>