<section class="filler container-fluid ">
  <div class="row ">
    <div class="col mt-5 test">
      <div class="card-content red-text text-lighten-2">
        <h1 class="signin center-align text-center pb-2">Sign In</h1>
        <% include ./partials/messages %>
        <div class="card-action">
          <form class= "form-container rounded  pt-3 pb-3 pr-3 pl-3" action="/account/home" method="POST">
            <input class="form-control formdetails" placeholder="Email" id="email" name="email" type="email" />
            <input class="form-control formdetails mt-3 mb-3" placeholder="Password" id="password" name="password" type="password" />
            <button class="signinbutton btn btn-block" type="submit" name="action">Sign In </button>
          </form>
        </div>
        <h1 class="signup rounded center-align text-center mt-2 pt-3 "> <p>New to Jengu? <a href="/account/signup" class="black-text">Sign up here</a> </p>
        </div>
      </div>
    </div>
  </section>
